body{
    background-color: #416036;
    color: #d5dad3;
}
#bg{
    transform: rotate(90deg);
    height: fit-content;
    width: 1000px;
    object-fit: fill;
    position: relative;
    top: -400px;
}